<div class="container mt-3 py-2 bg-success bg-opacity-25">
  <h2>Configuracion</h2>
</div>

<div class="container mt-3 pt-2 bg-secondary bg-opacity-25">
    <p>Url de mongo: {{{databaseUrl}}}</p>
    <p>Puerto: {{{port}}}</p>
    <p>Secreto session: {{{secret}}}</p>
    <p>Es administrador: {{{administrator}}}</p>
    <p>Colección de la session: {{{collectionSession}}}</p>
    <p>Tiempo de la session: {{{sessionTime}}}</p>
    <p>Email del administrador: {{{emailNodemailer}}}</p>
    <p>Contraseña del email: {{{passwordEmail}}}</p>
    <p>Host del email: {{{hostEmail}}}</p>
    <p>Account Sid mensaje: {{{accountSid}}}</p>
    <p>Auth Token mensaje: {{{authToken}}}</p>
    <p>Numero Twilio: {{{numberTwilio}}}</p>
    <p>Modo (fork o cluster): {{{modo}}}</p>
    <p>Node env: {{{nodeEnv}}}</p>
    <p>Secreto de jwt: {{privateKey}}</p>
</div>
